{include file="public/header" /}
    <!--<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>-->
    <script src="/second-hand/public/static/js/jweixin-1.0.0.js"></script>
    <script src="/second-hand/public/static/js/jquery.form.js"></script>
    <script>

        wx.config({
            debug: '{$config.debug}',
            appId: '{$config.appId}',
            timestamp:'{$config.timestamp}',
            nonceStr: '{$config.nonceStr}',
            signature:'{$config.signature}',
            jsApiList:'{$jsApiList}'
        });

        wx.ready(function () {
            // 在这里调用 API
            //微信js初始化成功后再显示出“扫一扫”按钮
            $('p').show();
            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function (res) {
                    var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                    var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                    var speed = res.speed; // 速度，以米/每秒计
                    var accuracy = res.accuracy; // 位置精度

                    $.post(
                        "/second-hand/public/index/analysis/location",
                        {
                            latitude:latitude,
                            longitude:longitude,
                            speed:speed,
                            accuracy:accuracy
                        },
                        function(data,status){
                            //alert("数据: \n" + data + "\n状态: " + status);
                        });
                }
            });

        });


        function scan() {
            wx.scanQRCode({
                needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                success: function (res) {
                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                    alert(result);
                    $.post(
                        "/second-hand/public/index/analysis/scan",
                        {
                            scan:result
                        },
                        function (data,status) {
                            alert("数据: \n" + data + "\n状态: " + status);
                            if (data === '0') {
                                alert('解析错误，请重新扫码！');
                            } else if (data === '1'){
                                alert('该书尚未收录,请手动编辑提交!');
                            } else if (data === '2'){
                                alert('暂不支持非图书条码!');
                            }else {
                                var redirectUrl = "/second-hand/public/index/index/index";
                                window.location.assign(redirectUrl);
                            }

                        }
                    );

                }
            });
        }

    </script>

</head>
<body>
<div style="text-align: right">
    <a  href="/second-hand/public/index/user">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        个人中心
    </a>
</div>
<div style="text-align: right">
    <a  href="/second-hand/public/index/exhibition/exhibitionPersonal">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        地图模式
    </a>
</div>
<div style="text-align: right">
    <a  href="/second-hand/public/index/exhibition/exhibitionAll">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        发现
    </a>
</div>
<div class="jumbotron">
    <h1>Hello, Let's HandJob!</h1>

    <p hidden style="text-align: center"><a class="btn btn-primary btn-lg" onclick="scan()">扫一扫</a></p>

    <form id="saveUserBook" method="post" class="form-horizontal" action="{:url('Index/saveUserBook')}">
        <div>
            {volist name="bookInfo" id="vo" }
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-objec" style="width: 100px" src="/second-hand/public/download/bookPic/{$vo['isbn']}.jpg" alt="">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{$vo['title']}</h4>
                    <input type="hidden" name="book_id[]" value="{$vo['id']}">
                    <div>作者：{$vo['author']}</div>
                    <div>出版社：{$vo['press']}</div>
                    <div>价格：{$vo['price']}</div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                </div>
            </div>
            {/volist}

        </div>
        {if condition="$bookInfo == null"}
        {else /}
        <button type="submit" id="submit" class="btn btn-default">Submit</button>
        {/if}

    </form>
</div>
</body>
<script>

</script>
</html>